/* 폰트 적용_J */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Serif KR", serif;
}

.mypost {
  width: 95%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(223, 223, 223);
}
.mypost .form-control {
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}
.mypost label {
  background-color: rgb(248, 248, 248);
  font-size: 20px;
  border-radius: 20px;
  width: 100%;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0;
}
.mypost > button {
  display: block;
  margin: 30px auto 0px;
  background-color: rgb(96, 96, 96);
  border-radius: 15px;
}

.mycards {
  width: 95%;
  max-width: 500px;
  margin: auto;
  height: 400px;
  overflow: auto;
  padding-right: 10px;
}
.mycards::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}
.mycards::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #c4c6c8; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.mycards::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

.mycards > .card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}

.icon-btn {
  float: right;
}
.icon-btn > a {
  color: #000;
  cursor: pointer;
}

/* intro.js css */
.header {
  background-color: powderblue;
}
.speakBtn {
  background-color: transparent;
  border: 1px solid gainsboro;
  border-radius: 30px;
  padding: 3px 10px;
  color: tomato;
}

/* footer.js css  */
.quote {
  color: gray;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote span:first-child {
  padding-bottom: 5px;
}
