<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/89a032c4e0.js"
      crossorigin="anonymous"
    ></script>
    <title>넌 내게 빠조 - 소개 페이지</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script defer src="../static/main.js"></script>
    <script defer src="../static/intro.js"></script>
    <script defer src="../static/footer.js"></script>
  </head>

  <body>
    <div class="bgRight"></div>
    <div class="bgLeft"></div>
    <div class="header">
      <div class="header_m">
        <h1>넌 내게 빠조  <span>💘</span></h1>
        
          <p id="intro">
            안녕, 우리 팀 이름은 '넌 내게 빠조'야! 이름 그대로 코딩에 빠져있어.</br>
            우리가 작성한 코드를 보면 너희도 분명 빠져들게 될거야.</br> 이 페이지는
            우리의 끊임없는 도전과 동료들과의 적극적인 소통, 그리고 함께 성장하는
            '넌 내게 빠조'팀의 포부를 담고 있어. </br>이 곳을 재미있게 둘러봤으면 좋겠어!
          </p>
          <button id="speakBtn" class="speakBtn">💣 위험! 누르지 마세요</button>
      </div>
    </div>
  
  <!-- -------------------------------------------------------- 혜진 -->
  <div class="mycards">
    <div class="row row-cols-1 row-cols-md-5 g-5" id="cards-box">

      <!-- 첫 번째 Modal을 여는 클래스 -->
      <div class="btn">
        <img src="../static/img/jsh.png" class="card-img-top">
        <p>
          <h5 class="card-title">지설희</h5>
        </div>
        <div class="like">
          <button class="heartBtn" onclick="addLike()">
              💖</button>
          <div id='result'>0</div>
        </div>

      <!-- 첫 번째 Modal 클래스 -->
      <div class="modal">

        <!-- 첫 번째 Modal의 내용 -->
        <div class="modal-form">
          <div class="img-content">
            <img src="../static/img/jsh.JPEG" class="img">
            <div class="content">
              <div class="name-link">
                <tr>지설희</tr>
                <A href="https://hamut.tistory.com/" target="balnk" title="블로그 링크"><IMG
                    src="https://cdn.icon-icons.com/icons2/2161/PNG/512/interface_attachment_link_paperclip_hyperlink_icon_133006.png"
                    , width="30" , height="30"> </A>
              </div>
              </br>
              <p><span class="gray-text">NICKNAME</span> &nbsp;황비홍
                <br><span class="gray-text">LOVES</span> &nbsp;보드게임, 고기
                <br><span class="gray-text">HATES</span> &nbsp;미세먼지, 황사
                <br><span class="gray-text">COMMENT</span> 멋있다 넌 내게 빠조!
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 두 번째 Modal을 여는 클래스 -->
      <div class="btn">
        <img src="../static/img/pji.png" class="card-img-top">
        <p>
        <h5 class="card-title">박제이</h5>
      </div>
      <div class="like1">
        <button class="heartBtn" onclick="addLike1()">
            💖</button>
        <div id='result1'>0</div>
      </div>

      <!-- 두 번째 Modal 클래스-->
      <div class="modal">

        <!-- 두 번째 Modal의 내용 -->
        <div class="modal-form">
          <div class="img-content">
            <img src="../static/img/pji.JPEG" class="img">
            <div class="content">
              <div class="name-link">
                <tr>박제이</tr>
                <A href="https://github.com/jei1211" target="balnk" title="블로그 링크"><IMG
                    src="https://cdn.icon-icons.com/icons2/2161/PNG/512/interface_attachment_link_paperclip_hyperlink_icon_133006.png"
                    , width="30" , height="30"> </A>
              </div>
              </br>
              <p><span class="gray-text">NICKNAME</span> &nbsp;집사
                <br><span class="gray-text">LOVES</span> &nbsp;심야 라이딩, 고양이
                <br><span class="gray-text">HATES</span> &nbsp;아침..
                <br><span class="gray-text">COMMENT</span> &nbsp;내배캠 6기 화이팅!
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 세 번째 Modal을 여는 클래스 -->
      <div class="btn">
        <img src="../static/img/jhj.png" class="card-img-top">
        <p>
        <h5 class="card-title">장혜진</h5>
      </div>
      <div class="like2">
        <button class="heartBtn" onclick="addLike2()">
            💖</button>
        <div id='result2'>0</div>
      </div>

      <!-- 세 번째 Modal 클래스-->
      <div class="modal">

        <!-- 세 번째 Modal의 내용 -->
        <div class="modal-form">
          <div class="img-content">
            <img src="../static/img/jhj.JPEG" class="img">
            <div class="content">
              <div class="name-link">
                <tr>장혜진</tr>
                <A href="https://velog.io/@hhjj0513" target="balnk" title="블로그 링크"><IMG
                    src="https://cdn.icon-icons.com/icons2/2161/PNG/512/interface_attachment_link_paperclip_hyperlink_icon_133006.png"
                    , width="30" , height="30"> </A>
              </div>
              </br>
              <p><span class="gray-text">NICKNAME</span> &nbsp;마늘
                <br><span class="gray-text">LOVES</span> &nbsp;재밌는 거 
                <br><span class="gray-text">HATES</span> &nbsp;벌레
                <br><span class="gray-text">COMMENT</span> &nbsp;功夫不负有心人
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 네 번째 Modal을 여는 클래스 -->
      <div class="btn">
        <img src="../static/img/kyb.png" class="card-img-top">
        <p>
        <h5 class="card-title">김영빈</h5>
      </div>
      <div class="like3">
        <button class="heartBtn" onclick="addLike3()">
            💖</button>
        <div id='result3'>0</div>
      </div>

      <!-- 네 번째 Modal 클래스-->
      <div class="modal">

        <!-- 네 번째 Modal의 내용 -->
        <div class="modal-form">
          <div class="img-content">
            <img src="../static/img/kyb.JPEG" class="img">
            <div class="content">
              <div class="name-link">
                <tr>김영빈</tr>
                <A href="https://space-zerobeen.tistory.com/" target="balnk" title="블로그 링크"><IMG
                    src="https://cdn.icon-icons.com/icons2/2161/PNG/512/interface_attachment_link_paperclip_hyperlink_icon_133006.png"
                    , width="30" , height="30"> </A>
              </div>
              </br>
              <p><span class="gray-text">NICKNAME</span> &nbsp;<span style="font-size: 18px;">돈가스</span>
                <br><span class="gray-text">LOVES</span> <span style="font-size: 17px;">멍때리기, 유튜브 감상, 산책</span>
                <br><span class="gray-text">HATES</span> &nbsp;<span style="font-size: 18px;">벌레, 여름</span>
                <br><span class="gray-text">COMMENT</span> <span style="font-size: 18px;">프론트엔드로 강해질 예정</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 다섯 번째 Modal을 여는 클래스 -->
      <div class="btn">
        <img src="../static/img/kwr.png" class="card-img-top">
        <p>
        <h5 class="card-title">김우리</h5>
      </div>
      <div class="like4">
        <button class="heartBtn" onclick="addLike4()">
            💖</button>
        <div id='result4'>0</div>
      </div>

      <!-- 다섯 번째 Modal 클래스-->
      <div class="modal">

        <!-- 다섯 번째 Modal의 내용 -->
        <div class="modal-form">
          <div class="img-content">
            <img src="../static/img/kwr.JPEG" class="img">
            <div class="content">
              <div class="name-link">
                <tr>김우리</tr>
                <A href="https://dlsltlvmfl9.tistory.com/" target="balnk" title="블로그 링크"><IMG
                    src="https://cdn.icon-icons.com/icons2/2161/PNG/512/interface_attachment_link_paperclip_hyperlink_icon_133006.png"
                    , width="30" , height="30"> </A>
              </div>
              </br>
              <p><span class="gray-text">NICKNAME</span> &nbsp;기묵직
                <br><span class="gray-text">LOVES</span> &nbsp;러닝, 축구시청
                <br><span class="gray-text">HATES</span> &nbsp;none;
                <br><span class="gray-text">COMMENT</span> &nbsp;no pain no gain
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------------ 혜진 -->
  <!--------------------- 김영빈 조회 생성 구역 --------------------------------------------->
  <div class="mypost">
    <div class="IdBox">

      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="url" />
          <label for="floatingInput">닉네임</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            maxlength="4"
            placeholder="url"
          />
          <label for="floatingInput">비밀번호 4자리</label>
        </div>
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="comment"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">응원 한마디!</label> 
    </div>

    <button onclick="save_comment()" type="button" class="btn-dark">
      응원 등록하기
    </button>
  </div>
  <!-- 가져온 닉네임, 응원 한마디 보여주는 comment-list -->
  <div class="mycardss" id="comment-list"></div>
<!-- --------------------------------------------------김영빈 ----------------------------------- -->
  <!-- <------------------------제이--------------------- -->
  <!-- 삭제 버튼 클리 시 팝업되는 모달창
    부트스트랩 빈 모달창 사용,  input과 button 추가하여 비밀번호 입력창 생성
    모달창 바깥 클릭 시 닫힘 -->
    <div class="modal fade" id="DelModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">게시물 삭제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input class="modal-pw" type="password" placeholder="비밀번호를 입력해주세요" />
        </div>
        <div class="modal-footer">
          <button id="del-btn">확인</button>
        </div>
      </div>
    </div>
  </div>
  <!-- -------------------------제이--------------------------- -->
  <footer id="quote" class="quote">
    <span></span>
    <span></span>
  </footer>
</body>

</html>